.page {
  margin: auto;
  background-color: var(--bg-color);
  background-attachment: fixed;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  block-size: 100vh;
  min-block-size: 668px;
  min-inline-size: 375px;
  padding: 10px;
  margin-block-end: 30px;
}

.menu__icon {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
  gap: 40px;
}

.icon {
  position: relative;
  color: var(--decorations-color);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  font-family: var(--main-font-family);
  display: flex;
  align-self: start;
  padding-inline-start: 15px;
  padding-inline-end: 13px;
}

.icon::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: currentColor;
  border-radius: 50%;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.icon::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorations-color);
  border-right: 1px solid var(--decorations-color);
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
}

.header__theme-menu-button {
  background-color: inherit;
  color: var(--decorations-color);
  text-transform: lowercase;
  border: none;
  font-family: var(--main-font-family), sans-serif;
  font-size: var(--main-font-size);
  padding-inline: 13px;
  margin-block-end: 10px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--decorations-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-border);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__title {
  margin: 55px 0 55px 0;
  font-size: var(--title-font-size);
  display: block;
  color: var(--title-color);
  font-family: var(--main-font-family, sans-serif);
  line-height: 0.8;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title__description {
  display: block;
  font-size: var(--main-font-size);
  font-family: var(--main-font-family, sans-serif);
  color: var(--subtitle-color);
  line-height: 1.3;
  background-color: var(--accent-color);
  margin-block-end: 30px;
}

.text__content {
  padding: 10px;
}

.section {
  margin-block-end: 50px;
}

.section:last-child {
  margin-block-end: 27px;
}

.card {
  margin-block-end: 20px;
}

.link {
  text-decoration: none;
  text-shadow: 3px 3px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: none;
  border: 1px solid currentColor;
}

.content__block-title {
  color: var(--block-title-color);
  font-family: var(--main-font-family, sans-serif);
  font-size: var(--main-font-size);
  margin-block-end: 20px;
}

.block__subtitle {
  color: var(--subtitle-color);
  background-color: var(--accent-color);
  font-weight: var(--subtitle-font-weight);
  font-family: var(--main-font-family, sans-serif);
  font-size: var(--main-font-size);
  margin-block-end: 10px;
}

.what__block {
  margin-block-end: 48px;
}


.picture__content {
  padding: 10px;
}

.text {
  font-family: var(--main-font-family, sans-serif);
  color: var(--main-color);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: 1.3;
}

.advice__subtitle {
  font-family: var(--main-font-family, sans-serif);
  color: var(--subtitle-color);
  background-color: var(--accent-color);
  font-weight: var(--main-font-weight);
  font-size: var(--main-font-size);
  margin-block-end: 10px;
}

.advice .block__subtitle {
  margin-block-end: 20px;
}


.gallery {
  margin-block-end: 30px;
}

.gallery__item {
  display: block;
  inline-size: 100%;
  margin-block-start: 0px;
  margin-block-end: 10px;
}

.footer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  color: var(--title-color);
  font-family: var(--main-font-family, sans-serif);
  font-size: var(--title-font-size);
  line-height: 0.8;
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
}

.right-corner__decoration {
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--decorations-color);
  border-right: 1px solid var(--decorations-color);
  padding: 8px;
}

.left-corner__decoration {
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--decorations-color);
  border-left: 1px solid var(--decorations-color);
  padding: 8px;
  align-self: start;
  justify-self: end;
}

@media (width >=768px) {
  .header {
    justify-content: space-between;
    padding: 20px;
    margin-block-end: 40px;
  }

  .header__title {
    margin: 65px 0 60px 0;
    align-self: start;
    margin-inline-start: -20px;
  }

  .title__description {
    inline-size: 364px;
    align-self: end;
  }

  .menu__icon {
    gap: 50px;
  }

  .icon {
    margin-block-end: 50px;
  }

  .header__theme-menu-list {
    margin-block-start: 45px;
  }

  .text__content {
    padding: 20px;
  }

  .picture__content {
    padding: 20px;
  }

  .picture__content .block__subtitle {
    margin-block-end: 20px;
  }

  .section {
    margin-block-end: 60px;
  }

  .section:last-child {
    margin-block-end: 20px;
  }

  .what__block {
    margin-block-end: 80px;
  }

  .gallery {
    margin-block-end: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content min-content min-content;
    gap: 20px;
  }

  .gallery__item:not(:last-child) {
    padding: 0;
  }

  .gallery__item {
    display: block;
    height: 100%;
    margin-block-end: 0;
  }

  .sunset {
    object-fit: cover;
    grid-column: 1 / 3;
  }

  .ice-cream {
    object-fit: cover;
    grid-row: 1 / 3;
    grid-column: 3;
  }

  .books {
    object-fit: cover;
    grid-row: 2 / 3;
    grid-column: 2;
  }

  .tape {
    object-fit: cover;
    grid-row: 2 / 4;
    grid-column: 1;
  }

  .street {
    object-fit: cover;
    grid-row: 3 / 4;
    grid-column: 2 / 4;

  }

  .advice {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }

  .advice .card,
  .why__block .card {
    grid-column: 2;
  }

  .why__block {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }

  .why__block .content__block-title,
  .advice .content__block-title {
    grid-column: 1;
    grid-row: 1 / 4;
    margin-inline-end: 20px;
  }

  .content__block-title {
    inline-size: 236px;
  }

  .footer {
    padding: 20px;
  }
}

@media (width >=1024px) {
  .header {
    align-items: start;
  }

  .title__description {
    inline-size: 491px;
  }

  .menu__icon {
    inline-size: 100%;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1.5fr min-content;
    grid-template-rows: min-content;
    gap: 0;
  }

  .header__theme-menu-button {
    margin-block-end: 0;
    margin-inline-end: 10px;
  }

  .header__theme-menu-list {
    margin-block-start: 0;
    flex-direction: row;
    align-self: start;
    padding-inline-end: 20px;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
    grid-row: 1;
    margin-inline-start: 10px;
  }

  .header__title {
    margin-block-start: 170px;
  }

  .icon {
    grid-column: 3 / 4;
    grid-row: 1;
    margin-inline-end: 10px;
  }

  .content__block-title {
    inline-size: 315px;
  }

  .what__block {
    display: grid;
    gap: 20px;
    inline-size: 100%;
    grid-template-columns: repeat(auto-fit, 1fr);
    margin-block-end: 60px;
    justify-content: space-between;
  }

  .what__block .card {
    max-inline-size: 315px;
  }

  .what__block .content__block-title {
    grid-row: 1;
    grid-column: 1 / 4;
    margin-block-end: 0;
  }
}